<div class="headline">
  <h1>Welcome <%= resource.first_name %>, please create a password</h1>
</div>

<div class="edit">
  <h4>Profile</h4>
   <div class="edit-fields">
      <div class="edit-groups">
        <%= bootstrap_form_for resource, :as => resource_name, :url => update_user_confirmation_path, :html => {:method => 'patch'}, :id => 'activation-form', layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9" do |f| %>
          <%= devise_error_messages! %>
            <%= f.text_field :email %>
            
            <% if @requires_password %>
                <p><%= f.password_field :password %></p>
            <% end %>
            <%= hidden_field_tag :confirmation_token,@confirmation_token %>
            <div class="form-actions form-pull-right">
              <%= f.submit "Submit", class: "btn-custom btn-primary" %>
            </div>
        <% end %>
      </div>
    </div>
</div>