<div class="about-hero">
    <div class="about-background">
        <div class="about-row">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <%= image_tag ("team/charlie.png"), :class => "about-img"  %>
                </div>
                <div class="col-lg-2 about-column">
                    <%= image_tag ("team/nick.png"), :class => "about-img"  %>
                </div>
                <div class="col-lg-2 about-column">
                    <%= image_tag ("team/jeff.png"), :class => "about-img" %>
                </div>
                <div class="col-lg-2 about-column">
                    <%= image_tag ("team/alex.png"), :class => "about-img"  %>
                </div>
                <div class="col-lg-2 about-column">
                    <%= image_tag ("team/jt.png"), :class => "about-img"  %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content container">
    <div class="investor-group">
            <div class="row">
                <div class="section-header col-lg-10 col-lg-offset-1 col-xs-12">
                    <div class="divider-line">
                        <span>
                            <small>Our Investors</small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="investor-logos row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-xs-12 col-lg-2 col-lg-offset-1">
                            <a href="http://www.vastvc.com/"><%= image_tag ("logos/vast.png") %></a>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <a href="http://www.flybridge.com/"><%= image_tag ("logos/flybridge.png") %></a>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <a href="http://www.lererventures.com/"><%= image_tag ("logos/lererventures.png") %></a>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <a href="http://www.bloombergbeta.com/"><%= image_tag ("logos/bloombergbeta.jpg") %></a>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <a href="http://mesa.vc/"><%= image_tag ("logos/mesa.png") %></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
