<div class="hero-container about-hero">
    <div class="hero-background">
        <div class="container">
            <div class="col-lg-12 col-lg-12-custom">
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-1">
                        <%= image_tag ("team/charlie.png") %>
                    </div>
                    <div class="col-lg-2">
                        <%= image_tag ("team/nick.png") %>
                    </div>
                    <div class="col-lg-2">
                        <%= image_tag ("team/jeff.png") %>
                    </div>
                    <div class="col-lg-2">
                        <%= image_tag ("team/alex.png") %>
                    </div>
                    <div class="col-lg-2">
                        <%= image_tag ("team/jt.png") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content container">
<br /><br /><br /><br />
    <div class="investor-group">
            <div class="row">
                <div class="section-header col-lg-10 col-lg-offset-1 col-xs-12">
                    <div class="divider-line">
                        <span>
                            <small>Our Investors</small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="investor-logos row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-xs-12 col-lg-2 col-lg-offset-1">
                            <a href="http://www.vastvc.com/"><%= image_tag ("logos/vast.png") %></a>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <a href="http://www.flybridge.com/"><%= image_tag ("logos/flybridge.png") %></a>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <a href="http://www.lererventures.com/"><%= image_tag ("logos/lererventures.png") %></a>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <a href="http://www.bloombergbeta.com/"><%= image_tag ("logos/bloombergbeta.jpg") %></a>
                        </div>
                        <div class="col-lg-2 col-xs-12">
                            <a href="http://mesa.vc/"><%= image_tag ("logos/mesa.png") %></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
