<div class="contact-profile">
  <%= avatar_or_initials(user, "contact-picture") %>
  <div class="contact-info">
    <div class="contact">
      <div class="contact-name">
        <h2><%= link_to user.full_name, manage_user_path(user) %></h2>
      </div>
      <div class="contact-email">
        <p><%= user.email %></p>
      </div>
    </div>
    <% if user.destroyed? %>
      <%= link_to 'Activate', "#", data: {toggle: "modal", target: "#archiveContact#{user.id}"} %>
    <% else %>
      <div class="activity-state">
        <% if user.installed_app? %>
          <p class="active">active</p><i class="fa fa-mobile"></i>
        <% else %>
          <p class="inactive">waiting</p><i class="fa fa-envelope-o"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% if user.destroyed? %>
  <!-- Modal -->
  <div class="modal fade" id="archiveContact<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="archiveContact" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-header-custom">
          <button type="button" class="close close-custom" data-dismiss="modal" aria-hidden="true"><%= icon "times" %></button>
          <h1 class="modal-title" id="myModalLabel">Confirm</h4>
        </div>
        <div class="modal-body modal-body-custom">
          <p><%= user.first_name.capitalize %> will regain access to their Badge account and their contact information will be available to the entire team.</p>
          <div class="btns-spacing-sm btns-center">
            <%= link_to "Activate #{user.full_name}", restore_manage_user_path(user), method: :post, class: "btn-custom btn-primary" %>
          </div>
        </div>
        <div class="modal-footer modal-footer-custom">
          <button type="button" class="btn-custom btn-modal btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
<% end %>