<!-- HeadLine -->
  <div class="headline border">
    <h1>Contacts</h1>
  </div>
  <div class="add-contacts border">
    <h3>Add contacts</h3>
    <div class="contact-btns">
      <%= link_to 'Add Contact Manually', new_manage_user_path, class: "btn-custom btn-primary" %>
      <%= link_to 'Import Contacts', manage_import_index_path, class: "btn-custom btn-primary" %>
    </div>
  </div>


<!-- Contacts List -->
<div class="contact-list border">
  <div class="list-search col-lg-6">
    <form role="form">
      <div class="form-group has-feedback">
        <input type="search" class="form-control" id="search-users" placeholder="Search">
        <span class="glyphicon glyphicon-search form-control-feedback-custom"></span>
      </div>
    </form>
  </div>

  <% alpha = @users.group_by{|u| u.last_name[0] } %>
  <% alpha.sort.each do |alpha, users| %>
  	<div class="contact-group">
  		<h3><%= alpha %></h3>
			<% users.each do |user| %>
				<%= render partial: "user", locals: {user: user} %>
			<% end %>
		</div>
	<% end %>
</div>

<div class="final-links">
  <%= link_to 'Send invitations to all unconfirmed users', invite_all_manage_users_path, method: :post %>
</div>