<!-- Content -->

<div class="contact-breadcrumb">
  <h2>
  <%= link_to 'Contacts', manage_users_path %> <span class="breadcrumb-fwdslsh">/</span> <%= @user.full_name %>
  </h2>
</div>

<div class="profile">
 <%= avatar_or_initials(@user, "profile-picture") %>
  <div class="profile-info">
    <div class="profile-name">
      <h2><%= @user.full_name %></h2>
    </div>
    <div class="profile-email">
      <p><%= @user.email %></p>
    </div>
  </div>
</div>
<div class="profile-status">
  <h3><%= @user.first_name %> has not yet accepted her email invitation.</h3>
  <div class="profile-status-btn">
    <button type="button" class="btn-custom btn-primary">Resend Invitation</button>
  </div>
</div>


<div class="edit">
  <h4>Edit Profile</h4>
    <%= render "form" %>
</div>

<div class="final-links no-border">
  <p><%= link_to 'Deactivate Contact', "#", data: {toggle: "modal", target: "#archiveContact"} %></p>
</div>


<!-- Modal -->
<div class="modal fade" id="archiveContact" tabindex="-1" role="dialog" aria-labelledby="archiveContact" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-custom">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><%= icon "times" %></button>
        <h1 class="modal-title" id="myModalLabel">Confirm</h4>
      </div>
      <div class="modal-body modal-body-custom">
        <p>When you submit your contact, we’ll send them an email invitation with a link to the app and onboarding insturctions. </p>
        <div class="btns-spacing-sm btns-center">
          <%= link_to "Deactivate #{@user.first_name.capitalize}", manage_user_path(@user), method: :delete, class: "btn-custom btn-primary" %>
        </div>
      </div>
      <div class="modal-footer modal-footer-custom">
        <button type="button" class="btn-custom btn-modal btn-default" data-dismiss="modal">No, I don't want to deactivate <%= @user.first_name.capitalize %></button>
      </div>
    </div>
  </div>
</div>