<!-- Content -->

<div class="contact-breadcrumb border">
  <h2>
  <%= link_to 'Contacts', manage_users_path %> <span class="breadcrumb-fwdslsh">/</span> <%= @user.full_name %>
  </h2>
</div>

<div class="profile border">
 <%= avatar_or_initials(@user, "profile-picture") %>
  <div class="profile-info">
    <div class="profile-name">
      <h2><%= @user.full_name %></h2>
    </div>
    <div class="profile-email">
      <p><%= @user.email %></p>
    </div>
  </div>
</div>
<% unless @user.installed_app %>
  <div class="profile-status border">
    <h3><%= @user.first_name %> has not yet accepted the email invitation.</h3>
    <div class="profile-status-btn">
      <%= link_to 'Resend Invitation', resend_manage_user_path(@user), method: :put, class: "btn-custom btn-primary" %>
    </div>
  </div>
<% end %>


<div class="edit border">
  <h4>Edit Profile</h4>
    <%= render "form" %>
</div>

<div class="final-links">
  <p><%= link_to 'Deactivate Contact', "#", data: {toggle: "modal", target: "#archiveContact"} %></p>
</div>


<!-- Modal -->
<div class="modal fade" id="archiveContact" tabindex="-1" role="dialog" aria-labelledby="archiveContact" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-custom">
        <button type="button" class="close close-custom" data-dismiss="modal" aria-hidden="true"><%= icon "times" %></button>
        <h1 class="modal-title" id="myModalLabel">Confirm</h4>
      </div>
      <div class="modal-body modal-body-custom">
        <p><%= @user.first_name.capitalize %> will be removed from Badge. Both contact info & login access will be revoked. This change can be reversed on the company settings page.</p>
        <div class="btns-spacing-sm btns-center">
          <%= link_to "Deactivate #{@user.full_name}", manage_user_path(@user), method: :delete, class: "btn-custom btn-primary" %>
        </div>
      </div>
      <div class="modal-footer modal-footer-custom">
        <button type="button" class="btn-custom btn-modal btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>