<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="navbar-header">
        <button class="navbar-toggle navbar-toggle-custom" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand navbar-brand-custom">
                <%= link_to "/" do %> 
                    <%= image_tag_with_at2x ("badge-logo-sm.png") %>
                <% end %>
            </div>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right navbar-custom">
          <% if user_signed_in? %>
            <%= active_link_to("Download", download_path, :wrap_tag => :li, :class_inactive => 'nav-link') %>
          <% if is_admin? %>
            <%= active_link_to("Contacts", manage_users_path, :wrap_tag => :li, :class_inactive => 'nav-link') %>
            <%= active_link_to("Company", manage_company_path, :wrap_tag => :li, :class_inactive => 'nav-link') %>
          <% end %>
            <%= active_link_to("Profile", account_path, :wrap_tag => :li, :class_inactive => 'nav-link') %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
