<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Badge" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Badge" %>">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7609112/659304/css/fonts.css" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
    <%= render partial: "layouts/ga" if Rails.env.production? %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if content_for?(:header) %>
       <%= yield(:header) %>
    <% else %>
      <%= render partial: 'layouts/header' %>
    <% end %>
    
    <%= yield %>
    <%= javascript_include_tag 'retina.min'  %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>