<div class="headline">
  <h1>Company Profile</h1>
</div>

<div class="profile">
  <%= avatar_or_initials(@user, "profile-picture") %>
  <div class="profile-info">
    <div class="profile-name">
      <h2><%= @user.full_name %></h2>
    </div>
    <% if @user.admin? %>
    	<div class="profile-label">
      	<span class="label label-default label-custom">Admin</span>
    	</div>
    <% end %>
  </div>
  <div class="profile-btn">
  </div>
</div>

<div class="edit">
  <h4>Edit Profile</h4>
    <%= render "manage/users/form" %>
</div>

<div class="final-links no-border">
  <p><%= link_to 'Change Password', edit_user_password_path %></p>
  <p><%= link_to 'Sign Out', destroy_user_session_url(subdomain: nil), method: :delete %></p>
</div>




